<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


		
<ul>

	<h2>PETS<h2>
		
		

	<% pet.forEach((item)=>{%>
		<li> <%= item.name %><li>
		<li> <%= item.breed %> </li>
		<li> <%= item.age %> </li>
		<li> <%= item.hairtype %> </li>
		<form action="/pets/<%=item._id%>?_method=DELETE" method="POST">
			<button type="submit">delete</button>
		</form>
		<a href="/pets/<%= item._id %>/edit" index="petEdit">Edit</a>



	<% })%>
 



</ul>
	





		<script src="/javascripts/app.js"></script>
</body>
</html>